<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="mt-4 d-flex justify-content-around" style="background-color: rgba(180, 180, 180, 0.05);" >
                <button (click)="seedDB()" class="btn btn-success">Seed Db</button>
                <button (click)="viewTable()" class="btn btn-primary">View Table format</button>
            </div>
            <div class="mt-2 d-flex flex-column align-items-center">
                <small class="text-white">*Double click SeedDB for seeding the database</small>
                <small class="text-white" *ngIf="btnClicked">*Hold and Scroll right the table on small devices to view full table</small>
            </div>
            <div *ngIf="btnClicked" class="table-responsive-md">
                <table class="table table-striped table-dark table-bordered table-hover mt-4">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">username</th>
                        <th scope="col">email</th>
                        <th scope="col">Ops</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td><button class="btn btn-danger btn-sm" (click)="delete(user._id)">Delete</button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <select *ngIf="dropdownFlag" class="form-control mt-3" [(ngModel)]="selectedUser">
                <option disabled selected>Select a user</option>
                <option *ngFor="let user of users" [ngValue]="user">{{user.username+", "+user.email }}</option>
            </select>

            <div *ngIf="selectedUser.username && dropdownFlag" class="mt-5 bg-light p-4 d-flex flex-column" style="border-radius: 0.5rem;">
                <div class="d-flex justify-content-between">
                    <h5>First Name</h5>
                    <p>{{selectedUser.firstName}}</p>
                </div>
                <div class="d-flex mt-2 justify-content-between">
                    <h5>Last Name</h5>
                    <p>{{selectedUser.lastName}}</p>
                </div>
                <div class="d-flex mt-2 justify-content-between">
                    <h5>Username</h5>
                    <p>{{selectedUser.username}}</p>
                </div>
                <div class="d-flex mt-2 justify-content-between">
                    <h5>Email</h5>
                    <p>{{selectedUser.email}}</p>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-danger" (click)="delete(selectedUser._id)">Delete this user</button>
                </div>
            </div>
        </div>
    </div>
</div>