<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="mt-4 d-flex justify-content-around" style="background-color: rgba(180, 180, 180, 0.05);" >
                <button class="btn btn-primary" (click)="showUsers()">Show Users</button>
                <button class="btn btn-secondary" (click)="hideUsers()">Hide Users</button>
                <button (click)="seedDB()" class="btn btn-success">Seed Db</button>
            </div>
            <div class="mt-2 d-flex flex-column align-items-center">
                <small class="text-muted">*SeedDB works when show Users btn is clicked for seeding the database</small>
                <small class="text-muted">*Hold and Scroll right the table on small devices to view full table</small>
            
            </div>
            <div *ngIf="btnClicked" class="table-responsive-md">
                <table class="table table-striped table-dark table-bordered table-hover mt-4">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">username</th>
                        <th scope="col">email</th>
                        <th scope="col">Ops</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td><button class="btn btn-danger btn-sm" (click)="delete(user._id)">Delete</button></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>